/*눈누-수박양체*/
@font-face {
    font-family: 'RixXladywatermelonR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/RixXladywatermelonR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(to right, #FFB3B3, #FFD9B3, #FFFFB3);
    font-family: 'RixXladywatermelonR', sans-serif; 
}

.container {
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

div {
    unicode-bidi: isolate;
}

header {
    margin: 5% 5% 3% 5%;
    font-size: 24px;
    font-weight: 500;
    display: block;
    font-family: 'RixXladywatermelonR', sans-serif; 
}

.input-box {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px lightgrey;
}

form {
    margin-top: 0em;
}

#todo-input {
    width: 70%;
    height: 20%;
    margin-bottom: 3%;
    padding: 5%;
    border-radius: 15px;
    border: solid 1px lightgrey;
    font-family: 'RixXladywatermelonR', sans-serif; 
}

.todo-list-box {
    height: 40%;
    border-bottom: solid 1px lightgrey;
}

#add-todo-btn, #add-todo-btn:hover {
    height: 60%;
    margin: 1%;
    border: none;
    background: none;
    cursor: pointer;
}

section {
    display: block;
}

h4 {
    margin: 5%;
    display: block;
    font-weight: bold;
    font-family: 'RixXladywatermelonR', sans-serif; 
}

.todo-list, .done-list {
    height: 150px;
    overflow: auto;
    font-family: 'RixXladywatermelonR', sans-serif; 
}

ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
    font-family: 'RixXladywatermelonR', sans-serif; 
}

.done-list-box {
    height: 40%;
}

li:hover {
    cursor: pointer;
}

.done-item {
    color: gray;
    text-decoration: line-through;
    font-family: 'RixXladywatermelonR', sans-serif; 
}

.done-item span {
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
}
